p {
    color: red;
}
td {
    padding: 1px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 80%;
}
table {
    padding: 1px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 80%;
}